* {
  margin: 0;
  padding: 0;
}

.post {
  border: 1px solid black;
  border-radius: 10px;
  width: 600px;
  margin: 10px auto;
}

.post .user {
  padding: 10px;
  font-size: 1.25rem;
}

.post .text {
  padding: 10px;
}

.post img {
  width: 600px;

}

.btn {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
}

.comment-form input.text-field {
  width: calc(100% - 120px);
  margin: 10px;
  padding: 8px;
}

.comment-form.add-post input.text-field {
  width: calc(100% - 40px);

}

.comment-form.add-post input.file {
  width: calc(100% - 116px);
  margin: 10px;
  padding: 8px;
}



.comment-form input.btn {
  width: 70px;
  margin-left: 0;
}

.comment {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;

}

.comment .user {
  padding-left: 0;
  padding-right: 0;
}

.comment-details {
  margin: 10px;

}