.login {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

.auth-input {
    text-align: left;
    background-color: #a9cfd5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.auth-input input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 8px;
}

.auth-input .btn {
    width: 100%;
    padding-block: 10px;
    border-radius: 8px;
    background-color: rgb(17, 134, 223);
}

.auth-input .dont-have {
    margin-top: 25px;
}